a.sidebar-brand {
    font-family: 'Slabo 27px', serif;
    z-index: 2;
    color: #000;
}

.item-info {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 1%;
}

.item-price {
    float: left;
    width: 10%;
    text-align: left;
    padding-left: 1%;
}

.individual-food-item {
    min-height: 60px;
    background-color: #D3D3D3;
    border: solid;
    width: 100%;
    height: auto;
}

.fa-plus-circle {
    width: 40%;
    float: left;
    text-align: left;
    cursor: pointer;
}

hr {
    width: 100%;
}



#menuTop {
    position: relative;
    top: 100px;
}

.heading-section {
    padding: 0;
}

.item-description {
    display: inline-block;
}

.addToOrderButton {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    -webkit-appearance: button;
    cursor: pointer;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #f78e21;
    padding: 17px 0px;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

.signupmodal-container {
    max-width: 500px;
}

/*---------------------------------------------------- CART CSS ------------------------------------------------------*/

h3 {
    color: #000;
}

span {
    color: #000;
}

.checkoutDiv {
    background-color: #e8e4da;
    position: fixed;
    top: 100px;
    width: 20%;
    min-height: 400px;
    height: auto;
}

#yourBag {
    text-align: center;
}

.checkout-class {
    margin-left: 1em;
}

#subtotal {
/*    margin-left: 1em;*/
}

#tax-amount {
/*    margin-left: 1em;*/
}

#cart-total {
/*    margin-left: 1em;*/
}

#checkoutButton {
    display: block;
    margin: 2em auto 2em auto;
    width: 50%;
    position: relative;
    -webkit-appearance: button;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #f78e21;
    padding: 17px 0px;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
}

/*---------------------------------------------------- SIDE NAVBAR ------------------------------------------------------*/
#wrapperx {
    padding-left: 150px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    top: 3.3em;
    margin-left: -250px;
    left: 250px;
    width: 150px;
    background: #F0F0F0;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 0;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 5%;
    left: 12%;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-brand {
    margin-top: 0.4em;
}


@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

}

.specialReqBox {
    min-height: 100px;
}

