a.sidebar-brand {
  font-family: 'Slabo 27px', serif;
  z-index: 2;
  color: #000;
}

.reservation-input {
  float: left;
/*  width: 20%;*/
}

.heading-section {
  padding-bottom: 0px;
  padding-top: 40px;
}

#reservation-section {
  padding-top: 80px;
}

#gmap {
  padding-top: 2em;
}

.locationInfo {
  text-align: left;
  position: relative;
  left: 20%;
}

/*---------------------------------------------------- SIDE NAVBAR ------------------------------------------------------*/
#wrapperx {
  padding-left: 150px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  top: 3.3em;
  margin-left: -250px;
  left: 250px;
  width: 150px;
  background: #F0F0F0;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 0;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 5%;
  left: 12%;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-brand {
  margin-top: 0.4em;
}


@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}

/*---------------------------------------------------- FORM CSS ------------------------------------------------------*/

#makeReservationForm {
  margin-top: 2em;
}

#reservationName {
  width: 60%;
  display: block;
  margin: 1em auto 1em auto;
}

.intl-tel-input {
  float: left;
  width: 29%;
  left: 20%;
  margin-bottom: 1em;
}

#party-size {
  width: 29%;
  float: left;
  position: relative;
  left: 22%;
  margin-bottom: 1em;
}

.form-control[readonly] {
  display: block;
  margin: 3.5em 0 1em 0;
  width: 29%;
  float: left;
  position: relative;
  left: -38%;
}

#reservation-time {
  width: 28.25%;
  float: left;
  position: absolute;
  left: 50.9%;
  margin: 3.5em 0 1em 0;
}

#specialRequest {
  width: 60%;
  display: block;
  position: relative;
  left: 20%;
  margin: 7em 0 1em 0;
  height: 10em;
}

#cancellationDisclaimer {
  width: 50%;
  text-align: left;
  margin: auto;
  color: #d8d8d8;
  font-size: 10px;
}

#makeResBtn {
  width: 20%;
  border: 2px solid;
  border-radius: 10px;  
}

/*---------------------------------------------------- REVIEW SECTION CSS ------------------------------------------------------*/

#google-reviews {
/*  margin-top: 2em;*/
  width: 75%;
  display: block;
  margin: 2em auto auto auto;
}

footer {
  margin-top: 180px;
}