<link rel="stylesheet" href="../../assets/css/restaurant styles/addOrder.css">



<header>
    <div id="top-header">
        <div class="container">
            <div class="row">

                <div class="col-md-2 logo-div">
                    <div class="logo">
                        <a href="/home"><img src="/assets/images/logo.png" title="Lemcy Logo" alt="Lemcy Logo Image" /></a>
                    </div>
                </div>

                <div class="col-md-5 login-div">
                    <div class="cart-info">

                        <a href="#">My Account</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/logout">Logout</a>
                    </div>
                </div>

    <div id="main-header">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>

</header>

<div class="container" id="wrapperx">

    <!-- ////////////////////////////////////////////// SIDEBAR SECTION ////////////////////////////////////////////// -->

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="#tf-starters" class="sidebar-brand">Starters</a></li>
            <li><a href="#tf-entrees" class="sidebar-brand">Entrees</a></li>         
            <li><a href="#tf-extras" class="sidebar-brand">Extras</a></li>
            <li><a href="#tf-desserts" class="sidebar-brand">Desserts</a></li>
            <li><a href="#tf-drinks" class="sidebar-brand">Drinks</a></li>
        </ul>
    </div>

    <!-- ////////////////////////////////////////////// PAGE CONTENT SECTION ////////////////////////////////////////////// -->

    <div id="page-content-wrapper">

        <div class="row">

            <div class="col-md-7" id="menuTop">
                <div class="row">
                    <div class="heading-section" id="tf-starters">
                        <h2>Starters</h2>
                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Salsa</a>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Salsa" data-price="2.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Queso</a>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Queso" data-price="3.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Guacamole</a>
                                </div>
                                <div class="item-price">$3.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Guacamole" data-price="3.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Tijuana Trio</a>
                                    <p>(chips, salsa, queso &amp; guacamole)</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="heading-section" id="tf-entrees">
                        <h2>Entrées</h2>

                        <span>All items made to order. Toppings include jalapeños, onions, lettuce, tomatoes, &amp; sour cream, unless otherwise noted.</span>


                        <div class="food-section">
                        
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Burritos</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$6.59+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Salsa" data-price="2.99"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chimichangas</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Queso" data-price="3.99"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Dos Enchiladas</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$3.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Guacamole" data-price="3.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Flautas</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Nachos</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Dos Tacos</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>


                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Norrito Rice Bowl</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Fresh Salads</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Tostadas</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Quesadillas</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Bangin' Chicken</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>


                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Pick Dos</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Lil' Lizards</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>



                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="heading-section" id="tf-extras">
                        <h2>Extras</h2>
                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Salsa</a>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Salsa" data-price="2.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Queso</a>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Queso" data-price="3.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Guacamole</a>
                                </div>
                                <div class="item-price">$3.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Guacamole" data-price="3.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Tijuana Trio</a>
                                    <p>(chips, salsa, queso &amp; guacamole)</p>
                                </div>
                                <div class="item-price">$4.29</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Tijuana Trio" data-price="4.29"></i>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="heading-section" id="tf-desserts">
                        <h2>Desserts</h2>

                        <span>Make It a Happy Ending</span>

                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Churros</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Salsa" data-price="2.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Cookie Dough Flautas</a>
                                    <p>Item Description</p>
                                </div>
                                <div class="item-price">$2.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Chips & Salsa" data-price="2.99"></i>
                            </div>

                        </div>
                        <hr>
                    </div>
                </div>





                <div class="row">
                    <div class="heading-section" id="tf-drinks">
                        <h2>Drink</h2>
                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Large Drink</a>
                                </div>
                                <div class="item-price">$2.39</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Large Drink" data-price="2.39"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Medium Drink</a>
                                </div>
                                <div class="item-price">$1.99</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Large Drink" data-price="1.99"></i>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Kid's Soda</a>
                                </div>
                                <div class="item-price">$1.00</div>
                                <i class="fa fa-plus-circle" aria-hidden="true" data-item="Kid's Soda" data-price="1.00"></i>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="checkoutDiv">
                    <p>checkout</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ////////////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////////// -->


<footer>
    <div class="container">
        <div class="bottom-footer">

            <div class="row">

                <div class="col-md-12">
                    <div class="social-bottom">
                        <span id="followUs">Follow us:
                        <ul id="socialMediaUl">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                        </span>

                    </div>
                </div>
            </div>

            <p>
                <span id="copyrightSpan">Copyright © 2016 <a href="#">Lemcy</a></span>
            </p>
        </div>

    </div>
</footer>

<!-- ////////////////////////////////////////////// JAVASCRIPT ////////////////////////////////////////////// -->

<script>

    $(document).ready(function(){
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
    });

    $('.fa-plus-circle').click(function(){
        console.log($(this).data("item"));
        console.log($(this).data("price"));
    });




</script>