<!-- Have to reimport the styling again? pathing got messed up on this page -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet" type='text/css'>

<link rel="stylesheet" href="../../../assets/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/css/font-awesome.css">
<link rel="stylesheet" href="../../../assets/css/templatemo_style.css">
<link rel="stylesheet" href="../../../assets/css/templatemo_misc.css">
<link rel="stylesheet" href="../../../assets/css/flexslider.css">
<link rel="stylesheet" href="../../../assets/css/testimonails-slider.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<link rel="stylesheet" href="../../../assets/css/style.css">

<script src="../../../assets/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
<script src="../../../assets/js/vendor/jquery-1.11.0.min.js"></script>
<script src="../../../assets/js/vendor/jquery.gmap3.min.js"></script>
<script src="../../../assets/js/plugins.js"></script>
<script src="../../../assets/js/main.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript" src="../../../assets/js/global.js"></script>

<link rel="stylesheet" href="../../../assets/css/restaurant styles/addOrder.css">

<header>
    <div id="top-header">
        <div class="container">
            <div class="row">

                <div class="col-md-2 logo-div">
                    <div class="logo">
                        <a href="/home"><img src="/assets/images/logo.png" title="Lemcy Logo" alt="Lemcy Logo Image" /></a>
                    </div>
                </div>

                <div class="col-md-5 login-div">
                    <div class="cart-info">

                        <a href="#">My Account</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/logout">Logout</a>
                    </div>
                </div>

    <div id="main-header">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>

</header>

<div class="container" id="wrapperx">

    <!-- ////////////////////////////////////////////// SIDEBAR SECTION ////////////////////////////////////////////// -->

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="#tf-starters" class="sidebar-brand">Starters</a></li>
            <li><a href="#tf-entrees" class="sidebar-brand">Entrees</a></li>         
            <li><a href="#tf-extras" class="sidebar-brand">Extras</a></li>
            <li><a href="#tf-desserts" class="sidebar-brand">Desserts</a></li>
            <li><a href="#tf-drinks" class="sidebar-brand">Drinks</a></li>
        </ul>
    </div>

    <!-- ////////////////////////////////////////////// PAGE CONTENT SECTION ////////////////////////////////////////////// -->

    <div id="page-content-wrapper">

        <div class="row">

            <div class="col-md-7" id="menuTop">
                <div class="row">
                    <div class="heading-section" id="tf-starters">
                        <h2>Starters</h2>
                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Salsa</a>
                                </div>
                                <div class="item-price">$2.99</div>
                                <a href="#" data-toggle="modal" data-target="#chips-and-salsa-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Queso</a>
                                </div>
                                <div class="item-price">$3.99</div>
                                <a href="#" data-toggle="modal" data-target="#chips-and-queso-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chips &amp; Guacamole</a>
                                </div>
                                <div class="item-price">$3.99</div>
                                <a href="#" data-toggle="modal" data-target="#chips-and-guacamole-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Tijuana Trio</a>
                                    
                                </div>
                                <div class="item-price">$4.29</div>
                                <a href="#" data-toggle="modal" data-target="#tijuana-trio-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                <p class="item-description">Combo of chips, salsa, queso &amp; guacamole.</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="heading-section" id="tf-entrees">
                        <h2>Entrées</h2>

                        <span>All items made to order. Toppings include jalapeños, onions, lettuce, tomatoes, &amp; sour cream, unless otherwise noted.</span>


                        <div class="food-section">
                        
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Burritos</a>
                                    
                                </div>
                                <div class="item-price">$6.59+</div>
                                <a href="#" data-toggle="modal" data-target="#burrito-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                <p class="item-description">Flour or wheat tortilla, cheese, choice of fillings &amp; toppings. Go ahead and stuff it with rice &amp; beans.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Chimichangas</a>

                                </div>
                                <div class="item-price">$6.49+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Lightly fried flour or wheat tortilla, cheese, choice of fillings &amp; toppings.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Dos Enchiladas</a>

                                </div>
                                <div class="item-price">$6.39+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Two corn tortillas, melted cheese, choice of filling, chipotle red or verde sauce &amp; toppings.</p>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Flautas</a>

                                </div>
                                <div class="item-price">$6.49+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Two lightly fried flour or wheat tortillas, cheese &amp; choice of filling. Served with queso, guacamole &amp; toppings.</p>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Nachos</a>

                                </div>
                                <div class="item-price">$6.39+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Chips, melted cheese, choice of filling, toppings, guacamole &amp; a side of salsa.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Dos Tacos</a>

                                </div>
                                <div class="item-price">$5.99+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Hard corn, soft flour or wheat tortilla, cheese, choice of filling &amp; toppings.</p>
                            </div>


                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Norrito Rice Bowl</a>

                                </div>
                                <div class="item-price">$6.49+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">No + Burrito = Norrito. Rice, black beans, cheese, toppings &amp; guacamole. Served in a bowl with choice of filling.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Fresh Salads</a>

                                </div>
                                <div class="item-price">$6.49+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Whole wheat tortilla shell with mixed greens, cheese, choice of filling, toppings, guacamole &amp; choice of ranch, salsa, avocado ranch or Southwest citrus vinaigrette.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Tostadas</a>

                                </div>
                                <div class="item-price">$6.39+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Lightly fried corn tortillas, refried beans, melted cheese, choice of filling, toppings &amp; salsa.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Quesadillas</a>

                                </div>
                                <div class="item-price">$6.39+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Flour or wheat tortilla, melted cheese, choice of filling &amp; toppings.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Bangin' Chicken</a>

                                </div>
                                <div class="item-price">$7.79</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">Two corn tortillas, melted cheese, choice of filling, chipotle red or verde sauce &amp; toppings.</p>
                            </div>


                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Pick Dos</a>

                                </div>
                                <div class="item-price">$9.99+</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">CHOOSE TWO DIFFERENT ITEMS: BURRITO | TACO | ENCHILADA QUESADILLA | CHIMICHANGA. Served with rice &amp; refried or black beans.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Lil' Lizards</a>

                                </div>
                                <div class="item-price">$4.69</div>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <p class="item-description">For children 12 &amp; under. Comes with cheese, lettuce &amp; tomatoes, chips, natural applesauce or candy &amp; soft drink or apple juice.</p>
                            </div>



                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="heading-section" id="tf-extras">
                        <h2>Extras</h2>
                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Salsa</a>
                                </div>
                                <div class="item-price">$0.99+</div>
                                <a href="#" data-toggle="modal" data-target="#salsa-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Queso</a>
                                </div>
                                <div class="item-price">$1.79+</div>
                                <a href="#" data-toggle="modal" data-target="#queso-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Guacamole</a>
                                </div>
                                <div class="item-price">$1.79+</div>
                                <a href="#" data-toggle="modal" data-target="#guacamole-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Rice</a>
                                </div>
                                <div class="item-price">$0.99+</div>
                                <a href="#" data-toggle="modal" data-target="#rice-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Beans</a>
                                </div>
                                <div class="item-price">$0.99+</div>
                                <a href="#" data-toggle="modal" data-target="#beans-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                <p class="item-description">Choice between either refried or black beans.</p>
                            </div>





                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="heading-section" id="tf-desserts">
                        <h2>Desserts</h2>

                        <span>Make It a Happy Ending</span>

                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Churros</a>

                                </div>
                                <div class="item-price">$2.99</div>
                                <a href="#" data-toggle="modal" data-target="#churros-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                <p class="item-description">Lightly fried &amp; sprinkled with sugar &amp; cinnamon.</p>
                            </div>

                            <div class="individual-food-item">
                                <div class="item-info">
                                <a href="#">Cookie Dough Flautas</a>
                                </div>
                                <div class="item-price">$2.99</div>
                                <a href="#" data-toggle="modal" data-target="#cookie-dough-flautas-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                <p class="item-description">“The Original” chocolate chip cookie dough loaded in a flour tortilla, lightly fried &amp; topped with powdered sugar. Served with a side of chocolate syrup.</p>
                            </div>

                        </div>
                        <hr>
                    </div>
                </div>





                <div class="row">
                    <div class="heading-section" id="tf-drinks">
                        <h2>Drink</h2>
                        <div class="food-section">
                            <div class="individual-food-item">
                                <div class="item-info">
                                    <a href="#">Fountain Soda/Tea</a>
                                </div>
                                <div class="item-price">$1.00+</div>
                                <a href="#" data-toggle="modal" data-target="#drink-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="checkoutDiv">
                    <h3 id="yourBag">Your Bag</h3>

                    <div id="order-list">


                    </div>

                    <hr>

                    <div>
                        <span class="checkout-class" id="subtotal">Subtotal: </span>
                    </div>

                    <div>
                        <span class="checkout-class" id="tax-amount">Tax: </span>
                    </div>

                    <div>
                        <span class="checkout-class" id="cart-total">Total: </span>
                    </div>

                    <div>
                        <button class="checkout-class" id="checkoutButton" value="submit">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ////////////////////////////////////////////// FOOD MODAL SECTION ////////////////////////////////////////////// -->


<!-- //////////////////////////// STARTERS //////////////////////////// -->

<div class="modal fade" id="chips-and-salsa-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Chips &amp; Salsa</h1><br>
            <form class="generic-form" id="tf-chips-and-salsa-add" data-price="2.99" data-item="Chips & Salsa" data-modal="chips-and-salsa-modal" data-specreq="cas-specialRequest" >

                    <textarea type="text" name="specialRequest" id="cas-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="chips-and-salsa-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="chips-and-queso-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Chips &amp; Queso</h1><br>
            <form class="generic-form" id="tf-chips-and-queso-add" data-price="3.99" data-item="Chips & Queso" data-modal="chips-and-queso-modal" data-specreq="caq-specialRequest">

                    <textarea type="text" name="specialRequest" id="caq-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="chips-and-queso-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="chips-and-guacamole-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Chips &amp; Guacamole</h1><br>
            <form class="generic-form" id="tf-chips-and-guacamole-add" data-price="3.99" data-item="Chips & Guacamole" data-modal="chips-and-guacamole-modal" data-specreq="cag-specialRequest">

                    <textarea type="text" name="specialRequest" id="cag-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="chips-and-guacamole-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="tijuana-trio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Tijuana Trio</h1><br>
            <form class="generic-form" id="tf-tijuana-trio-add" data-price="4.29" data-item="Tijuana Trio" data-modal="tijuana-trio-modal" data-specreq="tijuana-trio-specialRequest">

                    <textarea type="text" name="specialRequest" id="tijuana-trio-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="tijuana-trio-add-button">
            </form>
        </div>
    </div>
</div>

<!-- //////////////////////////// ENTREES //////////////////////////// -->

<div class="modal fade" id="burrito-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Customize Your Burrito</h1><br>
            <form id="tf-burrito-add">

                    <h4>Pick Your Filling</h4>
                    <input type="radio" name="tf-burrito-filling" value="Tijuana Carnitas Burrito" data-price="7.79" required> <label><span></span>Tijuana Carnitas Burrito: $7.79</label><br>
                    <input type="radio" name="tf-burrito-filling" value="Tijuana Steak Burrito" data-price="8.09" required> <label><span></span>Tijuana Steak Burrito: $8.09</label><br>
                    <input type="radio" name="tf-burrito-filling" value="Tijuana Beef Burrito" data-price="7.09" required> <label><span></span>Tijuana Beef Burrito: $7.09</label><br>
                    <input type="radio" name="tf-burrito-filling" value="Tijuana Chicken Burrito" data-price="6.89" required> <label><span></span>Tijuana Chicken Burrito: $6.89</label><br>
                    <input type="radio" name="tf-burrito-filling" value="Tijuana Blackened Chicken Burrito" data-price="6.89" required> <label><span></span>Tijuana Blackened Chicken Burrito: $6.89</label><br>
                    <input type="radio" name="tf-burrito-filling" value="Bangin' Chicken Burrito" data-price="7.79" required> <label><span></span>Bangin' Chicken Burrito: $7.79</label><br>
                    <input type="radio" name="tf-burrito-filling" value="Tijuana Veggie Burrito" data-price="6.59" required> <label><span></span>Tijuana Veggie Burrito: $6.59</label><br>

                    <h4>Pick Your Tortilla</h4>
                    <input type="radio" name="tf-burrito-tortilla" value="Wheat Tortilla" required> <label><span></span>Wheat Tortilla</label><br>
                    <input type="radio" name="tf-burrito-tortilla" value="Flour Tortilla"> <label><span></span>Flour Tortilla</label><br>

                    <h4>Pick Your Toppings</h4>
                    <input type="checkbox" name="tf-burrito-toppings" value="Jalapeno" checked> <label><span></span>Jalapeno</label><br>
                    <input type="checkbox" name="tf-burrito-toppings" value="Onion" checked> <label><span></span>Onion</label><br>
                    <input type="checkbox" name="tf-burrito-toppings" value="Lettuce" checked> <label><span></span>Lettuce</label><br>
                    <input type="checkbox" name="tf-burrito-toppings" value="Tomato" checked> <label><span></span>Tomato</label><br>
                    <input type="checkbox" name="tf-burrito-toppings" value="Sour Cream" checked> <label><span></span>Sour Cream</label><br>
                    <input type="checkbox" name="tf-burrito-toppings" value="Cheese" checked> <label><span></span>Cheese</label><br>
                    <input type="checkbox" name="tf-burrito-toppings" value="POWERLITE"> <label><span></span>POWERLITE (low-fat cheese and fat free sour cream)</label><br>

                    <h4>Rice</h4>
                    <input type="radio" name="tf-burrito-rice" value="Rice" required> <label><span></span>Rice</label><br>
                    <input type="radio" name="tf-burrito-rice" value="No Rice"> <label><span></span>No Rice</label><br>

                    <h4>Beans</h4>
                    <input type="radio" name="tf-burrito-beans" value="Refried Beans" required> <label><span></span>Refried Beans</label><br>
                    <input type="radio" name="tf-burrito-beans" value="Black Beans"> <label><span></span>Black Beans</label><br>
                    <input type="radio" name="tf-burrito-beans" value="No Beans"> <label><span></span>No Beans</label><br>

                    <h4>Make it WET</h4>
                    <input type="checkbox" name="tf-burrito-wet" value="Verde Sauce" data-price="0.99"> <label><span></span>Verde Sauce: $0.99</label><br>
                    <input type="checkbox" name="tf-burrito-wet" value="Chipotle" data-price="0.99"> <label><span></span>Chipotle: $0.99</label><br>
                    <input type="checkbox" name="tf-burrito-wet" value="Queso" data-price="0.99"> <label><span></span>Queso: $0.99</label><br>

                    <h4>Make it a MEAL (Includes Drink)</h4>
                    <input type="radio" name="tf-burrito-meal" value="Double Black Beans" data-price="2.49" required> <label><span></span>Double Black Beans: $2.49</label><br>
                    <input type="radio" name="tf-burrito-meal" value="Refried Beans & Rice" data-price="2.49"> <label><span></span>Refried Beans &amp; Rice: $2.49</label><br>
                    <input type="radio" name="tf-burrito-meal" value="Black Beans & Rice" data-price="2.49"> <label><span></span>Black Beans &amp; Rice: $2.49</label><br>
                    <input type="radio" name="tf-burrito-meal" value="Double Refried Beans" data-price="2.49"> <label><span></span>Double Refried Beans: $2.49</label><br>
                    <input type="radio" name="tf-burrito-meal" value="Both Beans" data-price="2.49"> <label><span></span>Both Beans: $2.49</label><br>
                    <input type="radio" name="tf-burrito-meal" value="Double Rice" data-price="2.49"> <label><span></span>Double Rice: $2.49</label><br>
                    <input type="radio" name="tf-burrito-meal" value="No Meal" data-price="0"> <label><span></span>No Meal</label><br>


                    <div id="meal-drink" style="display: none;">
                    <h4>Drink</h4>
                    <input type="radio" name="tf-burrito-meal-drink" value="Coca Cola"> <label><span></span>Coca Cola</label><br>
                    <input type="radio" name="tf-burrito-meal-drink" value="Diet Coke"> <label><span></span>Diet Coke</label><br>
                    <input type="radio" name="tf-burrito-meal-drink" value="Sprite"> <label><span></span>Sprite</label><br>
                    <input type="radio" name="tf-burrito-meal-drink" value="Luzianne Tea"> <label><span></span>Luzianne Tea</label><br>
                    <input type="radio" name="tf-burrito-meal-drink" value="Dasani Water"> <label><span></span>Dasani Water</label><br>
                    <input type="radio" name="tf-burrito-meal-drink" value="Sweet Tea"> <label><span></span>Sweet Tea</label><br>
                    </div>


                    <textarea type="text" name="specialRequest" id="burrito-specialRequest" class="form-control" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>


                <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="burrito-add-button">
            </form>
        </div>
    </div>
</div>

<!-- //////////////////////////// EXTRAS //////////////////////////// -->

<div class="modal fade" id="salsa-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Salsa</h1><br>
            <form class="specific-form" id="tf-salsa-add" data-item="Salsa" data-modal="salsa-modal" data-specreq="salsa-specialRequest" data-inputname="tf-extra-salsa">

                    <input type="radio" name="tf-extra-salsa" value="Small Salsa" data-price="0.99" required> <label><span></span>Small Salsa: $0.99</label><br>
                    <input type="radio" name="tf-extra-salsa" value="Large Salsa" data-price="1.79"> <label><span></span>Large Salsa: $1.79</label><br>                    

                    <textarea type="text" name="specialRequest" id="salsa-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="salsa-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="queso-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Queso</h1><br>
            <form class="specific-form" id="tf-queso-add" data-item="queso" data-modal="queso-modal" data-specreq="queso-specialRequest" data-inputname="tf-extra-queso">

                    <input type="radio" name="tf-extra-queso" value="Small Queso" data-price="1.79" required> <label><span></span>Small Queso: $1.79</label><br>
                    <input type="radio" name="tf-extra-queso" value="Large Queso" data-price="2.99"> <label><span></span>Large Queso: $2.99</label><br>                    

                    <textarea type="text" name="specialRequest" id="queso-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="queso-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="guacamole-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Guacamole</h1><br>
            <form class="specific-form" id="tf-guacamole-add" data-item="guacamole" data-modal="guacamole-modal" data-specreq="guacamole-specialRequest" data-inputname="tf-extra-guacamole">

                    <input type="radio" name="tf-extra-guacamole" value="Small Guacamole" data-price="1.79" required> <label><span></span>Small Guacamole: $1.79</label><br>
                    <input type="radio" name="tf-extra-guacamole" value="Large Guacamole" data-price="2.99"> <label><span></span>Large Guacamole: $2.99</label><br>                    

                    <textarea type="text" name="specialRequest" id="guacamole-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="guacamole-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="rice-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Rice</h1><br>
            <form class="specific-form" id="tf-rice-add" data-item="rice" data-modal="rice-modal" data-specreq="rice-specialRequest" data-inputname="tf-extra-rice">

                    <input type="radio" name="tf-extra-rice" value="Small Rice" data-price="0.99" required> <label><span></span>Small Rice: $0.99</label><br>
                    <input type="radio" name="tf-extra-rice" value="Large Rice" data-price="1.79"> <label><span></span>Large Rice: $1.79</label><br>                    

                    <textarea type="text" name="specialRequest" id="rice-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="rice-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="beans-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Beans</h1><br>
            <form id="tf-beans-add" data-item="beans" data-modal="beans-modal" data-specreq="beans-specialRequest" data-inputname="tf-extra-beans" data-beanstype="tf-extra-beans-type">

                    <h4>Beans</h4>
                    <input type="radio" name="tf-extra-beans-type" value="Refried Beans" required> <label><span></span>Refried Beans</label><br>
                    <input type="radio" name="tf-extra-beans-type" value="Black Beans"> <label><span></span>Black Beans</label><br>

                    <h4>Size</h4>
                    <input type="radio" name="tf-extra-beans" value="Small" data-price="0.99" required> <label><span></span>Small: $0.99</label><br>
                    <input type="radio" name="tf-extra-beans" value="Large" data-price="1.79"> <label><span></span>Large: $1.79</label><br>

                    <textarea type="text" name="specialRequest" id="beans-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="beans-add-button">
            </form>
        </div>
    </div>
</div>

<!-- //////////////////////////// DESSERTS //////////////////////////// -->

<div class="modal fade" id="churros-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Churros</h1><br>
            <form class="generic-form" id="tf-churros-add" data-price="2.99" data-item="Churros" data-modal="churros-modal" data-specreq="churros-specialRequest">

                    <textarea type="text" name="specialRequest" id="churros-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="churros-add-button">
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="cookie-dough-flautas-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Cookie Dough Flautas</h1><br>
            <form class="generic-form" id="tf-cookie-dough-flautas-add" data-price="2.99" data-item="Cookie Dough Flautas" data-modal="cookie-dough-flautas-modal" data-specreq="cookie-dough-flautas-specialRequest">

                    <textarea type="text" name="specialRequest" id="cookie-dough-flautas-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="cookie-dough-flautas-add-button">
            </form>
        </div>
    </div>
</div>

<!-- //////////////////////////// DRINKS //////////////////////////// -->

<div class="modal fade" id="drink-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <h1>Drink</h1><br>
            <form id="tf-drink-add" data-item="drink" data-modal="drink-modal" data-specreq="drink-specialRequest" data-inputname="tf-drink" data-drinktype="tf-drink-type">

                    <h4>Drink</h4>
                    <input type="radio" name="tf-drink-type" value="Coca Cola" required> <label><span></span>Coca Cola</label><br>
                    <input type="radio" name="tf-drink-type" value="Diet Coke"> <label><span></span>Diet Coke</label><br>
                    <input type="radio" name="tf-drink-type" value="Sprite"> <label><span></span>Sprite</label><br>
                    <input type="radio" name="tf-drink-type" value="Luzianne Tea"> <label><span></span>Luzianne Tea</label><br>
                    <input type="radio" name="tf-drink-type" value="Dasani Water"> <label><span></span>Dasani Water</label><br>
                    <input type="radio" name="tf-drink-type" value="Sweet Tea"> <label><span></span>Sweet Tea</label><br>

                    <h4>Size</h4>
                    <input type="radio" name="tf-drink" value="Large" data-price="2.39" required> <label><span></span>Large Drink: $2.39</label><br>
                    <input type="radio" name="tf-drink" value="Medium" data-price="1.99"> <label><span></span>Medium Drink: $1.99</label><br>
                    <input type="radio" name="tf-drink" value="Kid's" data-price="1.00"> <label><span></span>Kid's Soda: $1.00</label><br>


                    <textarea type="text" name="specialRequest" id="drink-specialRequest" class="form-control specialReqBox" placeholder="Add a special request (optional). Requests for extra items in the Special Instructions box that would cause an additional charge may not be honored (e.g. 'extra container of sauce')." maxlength="1000" autocomplete="off"></textarea> <br>

                    <input type="submit" name="signup" class="addToOrderButton" value="Add to Order" id="drink-add-button">
            </form>
        </div>
    </div>
</div>

<!-- ////////////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////////// -->

<footer>
    <div class="container">
        <div class="bottom-footer">

            <div class="row">

                <div class="col-md-12">
                    <div class="social-bottom">
                        <span id="followUs">Follow us:
                        <ul id="socialMediaUl">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                        </span>

                    </div>
                </div>
            </div>

            <p>
                <span id="copyrightSpan">Copyright © 2016 <a href="#">Lemcy</a></span>
            </p>
        </div>

    </div>
</footer>

<!-- ////////////////////////////////////////////// JAVASCRIPT ////////////////////////////////////////////// -->
<script src="../../../assets/js/tijuana flats/modalCode.js"></script>
<script>

    $(document).ready(function(){
        $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
    });

</script>