<header>
    <div id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="home-account">
                        <a href="#home">Home</a>
                        <a href="#services">Our Services</a>
                        <a href="#testimonails">Testimonials</a>
                        <a href="#aboutUs">About Us</a>
                        <a href="#contact">Contact</a>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="cart-info">
                        <a href="#" data-toggle="modal" data-target="#login-modal">Login / Signup</a>
                    </div>
                </div>



                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container">
                            <h1>Login to Your Account</h1><br>
<!--                             <form id="userLoginForm">
                                <input type="text" name="email" id="email" class="login-form form-control" placeholder="Email" maxlength="20" autocomplete="off" required>
                                <input type="password" name="password" id="password" class="login-form form-control" placeholder="Password" maxlength="20" autocomplete="off" required>
                                <input type="submit" name="login" class="login loginmodal-submit" value="Login" id="log-in">

                            </form> -->


                            <!-- LOGIN FORM -->
                            <form action="/userLogin" method="post">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password">
                                </div>

                                <button type="submit" class="btn btn-warning btn-lg">Login</button>
                            </form>



                            <div class="login-help">
                                Don't have an account? <a href="#" data-toggle="modal" data-target="#signup-modal" data-dismiss="modal">Sign up here!</a><br>
                                Restaurant Login <a href="#" data-toggle="modal" data-target="#rest-login-modal" data-dismiss="modal">here!</a>

                            </div>




                        </div>
                    </div>
                </div>


                <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="signupmodal-container">
                            <h1>Signup for an Account</h1><br>

                            <p id="passwordMatch"></p>

<!--                             <form id="createAccountForm">

                                <input type="email" name="newEmail" id="newEmail" class="signup-form form-control" placeholder="Email" maxlength="40" autocomplete="off" required>
                                <input type="password" name="newPassword" id="newPassword" class="signup-form form-control" placeholder="Password" maxlength="20" autocomplete="off" required>
                                <input type="password" name="passwordAgain" id="passwordAgain" class="signup-form form-control" placeholder="Confirm Password" maxlength="20" autocomplete="off" required>



                                <input type="submit" name="signup" class="signup signupmodal-submit" value="signup" id="signup-btn">

                            </form> -->


                            <!-- SIGNUP FORM -->
                            <form action="/createUser" method="post">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password">
                                </div>

                                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                            </form>







                            <div class="signup-help">
                                Already Have an Account? <a href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Login here!</a><br>
                                Restaurant Login <a href="#" data-toggle="modal" data-target="#rest-login-modal" data-dismiss="modal">here!</a>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal fade" id="rest-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container">
                            <h1>Restaurant Login</h1><br>
<!--                             <form id="restLoginForm">

                                <input type="email" name="restEmail" id="restEmail" class="signup-form form-control" placeholder="Email" maxlength="40" autocomplete="off" required>
                                <input type="password" name="restPassword" id="restPassword" class="signup-form form-control" placeholder="Password" maxlength="20" autocomplete="off" required>

                                <input type="submit" name="restLogin" class="login loginmodal-submit" value="Login" id="rest-login">
                            </form> -->


                            <!-- LOGIN FORM -->
                            <form action="/restLogin" method="post">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password">
                                </div>

                                <button type="submit" class="btn btn-warning btn-lg">Login</button>
                            </form>





                            <div class="login-help">
                                User and not a Restaurant? <a href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Login here!</a><br>
                                Don't have an account? <a href="#" data-toggle="modal" data-target="#signup-modal" data-dismiss="modal">Sign up here!</a>
                            </div>
                        </div>
                    </div>
                </div>










            </div>
        </div>
    </div>
    <div id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="#"><img src="/assets/images/logo.png" title="Lemcy Logo" alt="Lemcy Logo Image" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slider-caption">
                    <h1>Quick, Delicious Meals</h1>
                    <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                        <br /><br />eget tellus luctus fermentum.</p>
                    <a href="single-post.html">Sample Text</a>
                </div>
                <img src="/assets/images/slide1.jpg" alt="" />
            </li>
            <li>
                <div class="slider-caption">
                    <h1>Full Menus</h1>
                    <p>Nulla id iaculis ligula. Vivamus mattis quam eget urna tincidunt consequat. Nullam
                        <br /><br />consectetur tempor neque vitae iaculis. Aliquam erat volutpat.</p>
                    <a href="single-post.html">Sample Text</a>
                </div>
                <img src="/assets/images/slide2.jpg" alt="" />
            </li>
            <li>
                <div class="slider-caption">
                    <h1>Little To No Wait!</h1>
                    <p>Maecenas fermentum est ut elementum vulputate. Ut vel consequat urna. Ut aliquet
                        <br /><br />ornare massa, quis dapibus quam condimentum id.</p>
                    <a href="single-post.html">Sample Text</a>
                </div>
                <img src="/assets/images/slide3.jpg" alt="" />
            </li>
        </ul>
    </div>
</div>


<div id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Our Services</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h4>Make an order</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h4>Promotions</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-bell"></i>
                    </div>
                    <h4>Ready to Serve</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h4>Satisfaction</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>About Us</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <img src="/assets/images/blogpost1.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Summer Sandwich</a></h4>
                            <span>29 Sep 2084</span>
                        </div>
                        <div class="content-hide">
                            <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>What Customers Say</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonails-content">
                                <p>Lemcy is the best app I've ever designed for a final project in a course I've only taken once.</p>
                                <h6>Thomas Zhang - <a href="#">Chief Executive Officer</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>There's no other app in the market like Lemcy except for certain apps that other companies have made that are exactly like Lemcy but better.</p>
                                <h6>Thomas Zhang - <a href="#">Marketing Executive</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>The person who came up with this idea was an absolute genius. He's the next Steve Jobs, as in I hope he dies of cancer.</p>
                                <h6>Thomas Zhang - <a href="#">Creative Director</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>I am a financial backer (as in I gave Thomas free headphones when he didn't have any). He wouldn't be here without me. If this company goes public, I cannot wait to buy 98 stocks.</p>
                                <h6>David Forman - <a href="#">Dream Crusher</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>Lemcy is an amazing product! I find it useful and convenient when I am on the go. Definitely would recommend to my friends and family. The person who came up with this idea is a genius!</p>
                                <h6>Melissa Holsapple - <a href="#">Chief Mama Bear</a></h6>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Contact Us</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">

            <p>CONTACT FORM HERE</p>



        </div>
    </div>
</div>





<footer>
    <div class="container">
        <div class="bottom-footer">

            <div class="row">

                <div class="col-md-12">
                    <div class="social-bottom">
                        <span id="followUs">Follow us:
                        <ul id="socialMediaUl">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                        </span>

                    </div>
                </div>
            </div>

            <p>
                <span id="copyrightSpan">Copyright © 2016 <a href="#">Lemcy</a></span>
            </p>
        </div>

    </div>
</footer>


<script>

    $("#userLoginForm").submit(function(e) {
        e.preventDefault();

        var email = $('#email').val().trim();
        var password = $('#password').val().trim();

        userLoginFunc(email, password);

        return false;

    })

    $("#restLoginForm").submit(function(e) {
        e.preventDefault();

        var email = $('#restEmail').val().trim();
        var password = $('#restPassword').val().trim();

        restLoginFunc(email, password);

        return false;

    })






    $("#createAccountForm").submit(function(e) {
        e.preventDefault();

        var isMatch = bothPasswordsMatch();

        if (!isMatch) {
            $('#passwordMatch').empty();
            $('#passwordMatch').text("Your passwords do not match");




        } else {
            createAccount();
        }
        return false;
    })





    //------------------------------------- Contact Us Functions -------------------------------------//

    //This is fake, we don't have a contact email setup yet
    $("#contactform").submit(function(e) {
        e.preventDefault();

        $('#contactName, #contactEmail, #contactMessage').val('');


        $('#contactSubmitModal').modal();
        return false;

    })



</script>