<header>
    <div id="top-header">
        <div class="container">
            <div class="row">

                <div class="col-md-2 logo-div">
                    <div class="logo">
                        <a href="/"><img src="/assets/images/logo.png" title="Lemcy Logo" alt="Lemcy Logo Image" /></a>
                    </div>
                </div>

                <div class="col-md-5 nav-div">
                    <div class="home-account">
                        <a href="#main-header">Home</a>
                        <a href="#services">Our Services</a>
                        <a href="#testimonails">Testimonials</a>
                        <a href="#aboutUs">About Us</a>
                        <a href="#contact">Contact</a>
                    </div>
                </div>



                <div class="col-md-5 login-div">
                    <div class="cart-info">
                        <a href="#" data-toggle="modal" data-target="#login-modal">Login / Signup</a>
                    </div>
                </div>


<!-- ////////////////////////////////////////////// LOGIN MODAL ////////////////////////////////////////////// -->

                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container">
                            <h1>Login to Your Account</h1>

                            <div id="loginPopup" class="modal-error-messages"></div>

                            <form id="userLoginForm">
                                <input type="email" name="email" id="email" class="login-form form-control" placeholder="Email" maxlength="40" autocomplete="off" required>
                                <input type="password" name="password" id="password" class="login-form form-control" placeholder="Password" maxlength="20" autocomplete="off" required>
                                <input type="submit" name="login" class="login loginmodal-submit" value="Login" id="log-in">
                            </form>

                            <div class="login-help">
                                Don't have an account? <a href="#" data-toggle="modal" data-target="#signup-modal" data-dismiss="modal">Sign up here!</a><br>
                                Restaurant Login <a href="#" data-toggle="modal" data-target="#rest-login-modal" data-dismiss="modal">here!</a>
                            </div>

                        </div>
                    </div>
                </div>

<!-- ////////////////////////////////////////////// SIGNUP MODAL ////////////////////////////////////////////// -->

                <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="signupmodal-container">
                            <h1>Signup for an Account</h1>

                            <div id="signupPopup" class="modal-error-messages"></div>

                            <form id="createAccountForm" action="/createUser" method="post">

                                <input type="email" name="email" id="newEmail" class="signup-form form-control" placeholder="Email" maxlength="40" autocomplete="off" required>
                                <input type="password" name="password" id="newPassword" class="signup-form form-control" placeholder="Password" maxlength="20" autocomplete="off" required>
                                <input type="password" name="passwordAgain" id="passwordAgain" class="signup-form form-control" placeholder="Confirm Password" maxlength="20" autocomplete="off" required>



                                <button type="submit" class="signup signupmodal-submit" id="signup-btn">Signup</button>

                            </form>

<!--                             <form id="createAccountForm" action="/createUser" method="post">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" id="newPassword">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="passwordAgain" id="passwordAgain">
                                </div>
                                <button type="submit" class="btn btn-warning btn-lg" id="signup-submit">Signup</button>
                            </form> -->






                            <div class="signup-help">
                                Already Have an Account? <a href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Login here!</a><br>
                                Restaurant Login <a href="#" data-toggle="modal" data-target="#rest-login-modal" data-dismiss="modal">here!</a>
                            </div>
                        </div>
                    </div>
                </div>

<!-- ////////////////////////////////////////////// RESTAURANT LOGIN MODAL ////////////////////////////////////////////// -->

                <div class="modal fade" id="rest-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container">
                            <h1>Restaurant Login</h1>

                            <div id="restPopup" class="modal-error-messages"></div>

                            <form id="userLoginForm">
                                <input type="email" name="email" id="email" class="login-form form-control" placeholder="Email" maxlength="40" autocomplete="off" required>
                                <input type="password" name="password" id="password" class="login-form form-control" placeholder="Password" maxlength="20" autocomplete="off" required>
                                <input type="submit" name="login" class="login loginmodal-submit" value="Login" id="log-in">
                            </form>

                            <div class="login-help">
                                User and not a Restaurant? <a href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Login here!</a><br>
                                Don't have an account? <a href="#" data-toggle="modal" data-target="#signup-modal" data-dismiss="modal">Sign up here!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- ////////////////////////////////////////////// LOGO AREA ////////////////////////////////////////////// -->

    <div id="main-header">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</header>

<!-- ////////////////////////////////////////////// SLIDER ////////////////////////////////////////////// -->

<div id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slider-caption">
                    <h1>Quick, Delicious Meals</h1>
                    <p>Donec justo dui, semper vitae aliquam euzali, ornare pretium enim. Maecenas molestie diam
                        <br /><br />eget tellus luctus fermentum.</p>
                    <a href="single-post.html">Sample Text</a>
                </div>
                <img src="/assets/images/slide1.jpg" alt="" />
            </li>
            <li>
                <div class="slider-caption">
                    <h1>Full Menus</h1>
                    <p>Nulla id iaculis ligula. Vivamus mattis quam eget urna tincidunt consequat. Nullam
                        <br /><br />consectetur tempor neque vitae iaculis. Aliquam erat volutpat.</p>
                    <a href="single-post.html">Sample Text</a>
                </div>
                <img src="/assets/images/slide2.jpg" alt="" />
            </li>
            <li>
                <div class="slider-caption">
                    <h1>Little To No Wait!</h1>
                    <p>Maecenas fermentum est ut elementum vulputate. Ut vel consequat urna. Ut aliquet
                        <br /><br />ornare massa, quis dapibus quam condimentum id.</p>
                    <a href="single-post.html">Sample Text</a>
                </div>
                <img src="/assets/images/slide3.jpg" alt="" />
            </li>
        </ul>
    </div>
</div>

<!-- ////////////////////////////////////////////// SERVICES SECTION ////////////////////////////////////////////// -->

<div id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Our Services</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h4>Make an order</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h4>Promotions</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-bell"></i>
                    </div>
                    <h4>Ready to Serve</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h4>Satisfaction</h4>
                    <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu sagittis vel diam in, malesuada malesuada risus. Aenean a sem leoneski.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ////////////////////////////////////////////// ABOUT US SECTION ////////////////////////////////////////////// -->

<div id="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>About Us</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <img src="/assets/images/blogpost1.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="content-show">
                            <h4><a href="single-post.html">Summer Sandwich</a></h4>
                            <span>29 Sep 2084</span>
                        </div>
                        <div class="content-hide">
                            <p>Sed egestas tincidunt mollis. Suspendisse rhoncus vitae enim et faucibus. Ut dignissim nec arcu nec hendrerit. Sed arcu odio, sagittis vel diam in, malesuada malesuada risus. Aenean a sem leo. Nam ultricies dolor et mi tempor, non pulvinar felis sollicitudin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ////////////////////////////////////////////// TESTIMONIALS SECTION ////////////////////////////////////////////// -->

<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>What Customers Say</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonails-content">
                                <p>Lemcy is the best app I've ever designed for a final project in a course I've only taken once.</p>
                                <h6>Thomas Zhang - <a href="#">Chief Executive Officer</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>There's no other app in the market like Lemcy except for certain apps that other companies have made that are exactly like Lemcy but better.</p>
                                <h6>Thomas Zhang - <a href="#">Marketing Executive</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>The person who came up with this idea was an absolute genius. He's the next Steve Jobs, as in I hope he dies of cancer.</p>
                                <h6>Thomas Zhang - <a href="#">Creative Director</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>I am a financial backer (as in I gave Thomas free headphones when he didn't have any). He wouldn't be here without me. If this company goes public, I cannot wait to buy 98 stocks.</p>
                                <h6>David Forman - <a href="#">Dream Crusher</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content">
                                <p>Lemcy is an amazing product! I find it useful and convenient when I am on the go. Definitely would recommend to my friends and family. The person who came up with this idea is a genius!</p>
                                <h6>Melissa Holsapple - <a href="#">Chief Mama Bear</a></h6>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ////////////////////////////////////////////// CONTACT US SECTION ////////////////////////////////////////////// -->

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Contact Us</h2>
                    <img src="/assets/images/under-heading.png" alt="" />
                    <h3>We are here to answer any questions you may have about your Lemcy experience. Reach out to us and we'll respond as soon as we can.<br>
                    Even if there is something you have always wanted to experience and can't find it on our app, let us know and we promise to look into it!</h3>
                </div>
            </div>
        </div>
<!--         <div class="row">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Your message has been sent. Thank you!
            </div>
        </div> -->
<!--        <form method="post" action="" id="contactform">
          <input name="name" id="contactName" type="text" class="contact col-md-6" placeholder="Your Name *" >
          <input name="email" id="contactEmail" type="email" class="contact noMarr col-md-6" placeholder="E-mail address *" >
          <textarea name="comment" id="contactMessage" class="contact col-md-12" placeholder="Message *"></textarea>
          <input type="submit" id="contactSubmit" class="contact submit" value="Send message">
        </form> -->


        </div>
    </div>
</div>






<!-- ////////////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////////// -->


<footer>
    <div class="container">
        <div class="bottom-footer">

            <div class="row">

                <div class="col-md-12">
                    <div class="social-bottom">
                        <span id="followUs">Follow us:
                        <ul id="socialMediaUl">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                        </span>

                    </div>
                </div>
            </div>

            <p>
                <span id="copyrightSpan">Copyright © 2016 <a href="#">Lemcy</a></span>
            </p>
        </div>

    </div>
</footer>

<!-- ////////////////////////////////////////////// JAVASCRIPT ////////////////////////////////////////////// -->

<script>

    // Submit/Login function for User Login Form
    $(function(){
        $('#userLoginForm').on('submit', function(e) {
            e.preventDefault();
            var data =  $(this).serialize();
            $.get('/userLogin', data, function(result) {
                if(result.valid == true) {
                    window.location.href = '/home';
                }
                else {
                    $('#loginPopup').empty();
                    $('#loginPopup').html(result);
                }
            });
        });
    });

    // Submit/Login function for Restaurant Login Form
    $(function(){
        $('#restLoginForm').on('submit', function(e) {
            e.preventDefault();
            var data =  $(this).serialize();
            $.get('/restLogin', data, function(result) {
                if(result.valid == true) {
                    window.location.href = '/restHome';
                }
                else {
                    $('#restPopup').empty();
                    $('#restPopup').html(result);
                }
            });
        });
    });


    $(function(){
        //Signup button disabled at start
        document.getElementById("signup-btn").disabled = true;

        //Set up 2 boolean checks to see if the email is already in the database and if the passwords match
        var isAvailableEmail = false;
        var isMatch = false;

        $("#newEmail").change(function() {
            //Grab email they entered on change
            var data = {
                email: $("#newEmail").val().trim()
            }
            //Post to checkEmail route which searches db to see if it already exists and sends a true/false response
            $.post('/checkEmail', data, function(result) {

                if (result) {
                    $('#signupPopup').empty();
                    var isAvailableEmail = true; 
                    if (isMatch) {
                        //enable button if passwords match and email is available
                        document.getElementById("signup-btn").disabled = false;
                    }
                }
                else {
                    //let user know email already exists and disable button if it was enabled
                    document.getElementById("signup-btn").disabled = true;
                    $('#signupPopup').empty();
                    $('#signupPopup').text("This Email Exists Already");                      
                }
            })
        })

        $("#passwordAgain").on("input", function() {
            //check if passwords enter match
            if ($("#newPassword").val() === $("#passwordAgain").val()) {
                $('#signupPopup').empty(); 
                isMatch = true; //set true

                if (isAvailableEmail) {
                    //enable button if passwords match and email is available
                    document.getElementById("signup-btn").disabled = false;
                }
                else {
                    document.getElementById("signup-btn").disabled = true;
                    $('#signupPopup').empty();
                    $('#signupPopup').text("This Email Exists Already");                       
                }
            }
            //if passwords don't match, disable button and tell user
            else {
                document.getElementById("signup-btn").disabled = true;
                $('#signupPopup').empty();
                $('#signupPopup').text("Your passwords do not match");    
            }
        });
    });

    //------------------------------------- Contact Us Functions -------------------------------------//

    //This is fake, we don't have a contact email setup yet
    $("#contactform").submit(function(e) {
        e.preventDefault();

        $('#contactName, #contactEmail, #contactMessage').val('');


        $('#contactSubmitModal').modal();
        return false;

    })

    $(document).ready(function(){
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
    });

</script>