<header>
    <div id="top-header">
        <div class="container">
            <div class="row">

                <div class="col-md-2 logo-div">
                    <div class="logo">
                        <a href="/home"><img src="/assets/images/logo.png" title="Lemcy Logo" alt="Lemcy Logo Image" /></a>
                    </div>
                </div>

                <div class="col-md-5 login-div">
                    <div class="cart-info">

                        <a href="#">My Account</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/logout">Logout</a>
                    </div>
                </div>

    <div id="main-header">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>

</header>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="heading-section" id="reservation-section">
                <h2>Complete your reservation</h2>
                <img src="/assets/images/under-heading.png" alt="" />

                <form id="makeReservationForm" >





                    <br/><br/>
                    <input type="submit" value="Make Reservation" />

                </form>
            </div>
        </div>
    </div>

</div>


<!-- ////////////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////////// -->


<footer>
    <div class="container">
        <div class="bottom-footer">

            <div class="row">

                <div class="col-md-12">
                    <div class="social-bottom">
                        <span id="followUs">Follow us:
                        <ul id="socialMediaUl">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                        </span>

                    </div>
                </div>
            </div>

            <p>
                <span id="copyrightSpan">Copyright © 2016 <a href="#">Lemcy</a></span>
            </p>
        </div>

    </div>
</footer>

<!-- ////////////////////////////////////////////// JAVASCRIPT ////////////////////////////////////////////// -->
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->


<script>



</script>