<link rel="stylesheet" href="../../assets/css/restaurant styles/tijuana-flats.css">
<link rel="stylesheet" href="../../assets/css/flatpickr.min.css">
<script src="../../assets/js/flatpickr.min.js"></script>

<link rel="stylesheet" href="../../assets/css/intlTelInput.css">
<script src="../../assets/js/intlTelInput.js"></script>

<link rel="stylesheet" href="../../assets/css/google-places.css">
<script src="../../assets/js/google-places.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyCBkB4vzgC2CJr19EbRi_T0Pmtk3Q8loug"></script>


<header>
    <div id="top-header">
        <div class="container">
            <div class="row">

                <div class="col-md-2 logo-div">
                    <div class="logo">
                        <a href="/home"><img src="/assets/images/logo.png" title="Lemcy Logo" alt="Lemcy Logo Image" /></a>
                    </div>
                </div>

                <div class="col-md-5 login-div">
                    <div class="cart-info">

                        <a href="#">My Account</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/logout">Logout</a>
                    </div>
                </div>

    <div id="main-header">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>

</header>

<div class="container" id="wrapperx">

	<!-- ////////////////////////////////////////////// SIDEBAR SECTION ////////////////////////////////////////////// -->

	<div id="sidebar-wrapper">
	    <ul class="sidebar-nav">
	        <li><a href="#reservation-section" class="sidebar-brand" value="eservation-section">Reservation</a></li>
	        <li><a href="#about-section" class="sidebar-brand" value="about-section">About</a></li>
	        <li><a href="#review-section" class="sidebar-brand" value="review-section">Reviews</a></li>

	    </ul>
	</div>

	<!-- ////////////////////////////////////////////// PAGE CONTENT SECTION ////////////////////////////////////////////// -->

	<div id="page-content-wrapper">


	    <div class="row">
	        <div class="col-md-12">
	            <div class="heading-section" id="reservation-section">
	                <h2>Make A Reservation</h2>
	                <img src="/assets/images/under-heading.png" alt="" />

                    <form id="makeReservationForm" >

                        <input type="text" name="reservationName" id="reservationName" class="form-control" placeholder="Reservation Name" maxlength="80" autocomplete="off" required>
                        <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number" maxlength="40" autocomplete="off" required>


                        <select name="party-size" id="party-size" tabindex="1" class="form-control reservation-input" required>  
                            <option value="" disabled selected hidden>Party Size</option>
                            <option value="1">1 person</option>
                            <option value="1">1 person</option>
                            <option value="2">2 people</option>
                            <option value="3">3 people</option>
                            <option value="4">4 people</option>
                            <option value="5">5 people</option>
                            <option value="6">6 people</option>
                            <option value="7">7 people</option>
                            <option value="8">8 people</option>
                            <option value="9">9 people</option>
                            <option value="10">10 people</option>
                            <option value="11">11 people</option>
                            <option value="12">12 people</option>
                            <option value="13">13 people</option>
                            <option value="14">14 people</option>
                            <option value="15">15 people</option>
                            <option value="16">16 people</option>
                            <option value="17">17 people</option>
                            <option value="18">18 people</option>
                            <option value="19">19 people</option>
                            <option value="20">20 people</option>
                        </select>

                        <input class="flatpickr reservation-input" id="reservation-date" type="text" placeholder="Select Reservation Date" data-mindate=today name="reservation-date" tabindex="2" required>

                        <select name="reservation-time" id="reservation-time" tabindex="3" class="reservation-input form-control" required>
                            <option value="" disabled selected hidden>Reservation Time</option>
                            <option value="10:30">10:30 AM</option>
                            <option value="11:00">11:00 AM</option>
                            <option value="11:30">11:30 AM</option>
                            <option value="12:00">12:00 PM</option>
                            <option value="12:30">12:30 PM</option>
                            <option value="13:00">1:00 PM</option>
                            <option value="13:30">1:30 PM</option>
                            <option value="14:00">2:00 PM</option>
                            <option value="14:30">2:30 PM</option>
                            <option value="15:00">3:00 PM</option>
                            <option value="15:30">3:30 PM</option>
                            <option value="16:00">4:00 PM</option>
                            <option value="16:30">4:30 PM</option>
                            <option value="17:00">5:00 PM</option>
                            <option value="17:30">5:30 PM</option>
                            <option value="18:00">6:00 PM</option>
                            <option value="18:30">6:30 PM</option>
                            <option value="19:00">7:00 PM</option>
                            <option value="19:30">7:30 PM</option>
                            <option value="20:00">8:00 PM</option>
                            <option value="20:30">8:30 PM</option>
                            <option value="21:00">9:00 PM</option>
                            <option value="21:30">9:30 PM</option>
                            <option value="22:00">10:00 PM</option>
                            <option value="22:30">10:30 PM</option>
                            <option value="23:00">11:00 PM</option>
                            <option value="23:30">11:30 PM</option>
                        </select>


                        <textarea type="text" name="specialRequest" id="specialRequest" class="form-control" placeholder="Add a special request (optional)" maxlength="40" autocomplete="off"></textarea>

                        <input type="checkbox" id="agreedToTerms" name="test" required> I Agree to the <a href="#">Lemcy Terms of Use*</a> and <a href="#">Privacy Policy</a>



                        <br/><br/>
                        <button type="submit" class="signup signupmodal-submit" id="makeResBtn">Make Reservation</button>



                    </form>
                    <br/>
                    <p id="cancellationDisclaimer">*Please note the Terms of Use includes a Cancellation Fee of $15.00 per person if not provided at least one day in advance. To cancel a reservation, go to "My Reservations" under My Account.</p>






	            </div>
	        </div>
	    </div>


	    <div class="row">
	        <div class="col-md-12">
	            <div class="heading-section" id="about-section">
	                <h2>About Tijuana Flats - Winter Springs</h2>
	                <img src="/assets/images/under-heading.png" alt="" />

                        <div id="gmap">

                            <iframe
                                width="600"
                                height="450"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBkB4vzgC2CJr19EbRi_T0Pmtk3Q8loug
                                &q=place_id:ChIJZ7x6Ym1s54gRMTkSAbZzM7Q" allowfullscreen>
                            </iframe>

                        </div>

                        <p class="locationInfo">Kitschy Mexican chain restaurant known for an extensive hot sauce bar &amp; colorful, muraled walls.</p>
                        <p class="locationInfo">Address: 160 Tuskawilla Rd #1208, Winter Springs, FL 32708</p>
                        <p class="locationInfo">Phone:(407) 706-2468</p>


	            </div>
	        </div>
	    </div>



	    <div class="row">
	        <div class="col-md-12">
	            <div class="heading-section" id="review-section">
	                <h2>Google Reviews</h2>
	                <img src="/assets/images/under-heading.png" alt="" />

                    <div id="google-reviews"></div>

	            </div>
	        </div>
	    </div>
    </div>
</div>


<!-- ////////////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////////// -->


<footer>
    <div class="container">
        <div class="bottom-footer">

            <div class="row">

                <div class="col-md-12">
                    <div class="social-bottom">
                        <span id="followUs">Follow us:
                        <ul id="socialMediaUl">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-rss"></a></li>
                        </ul>
                        </span>

                    </div>
                </div>
            </div>

            <p>
                <span id="copyrightSpan">Copyright © 2016 <a href="#">Lemcy</a></span>
            </p>
        </div>

    </div>
</footer>

<!-- ////////////////////////////////////////////// JAVASCRIPT ////////////////////////////////////////////// -->

<script>

    $("#phoneNumber").intlTelInput();

    $(document).ready(function(){
        $(function() {
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
    });

    //Customize flatpickr datepicker
    flatpickr(".flatpickr", {
        minDate: new Date(), // today
    /*    maxDate: "2016-12-20",*/


        // create an extra input solely for display purposes
        altInput: true,
        altFormat: "F j, Y"
    });



    // Submit/Login function for User Login Form
    $(function(){
        $('#makeReservationForm').on('submit', function(e) {
            e.preventDefault();

            // grab data from form
            var data = {
                reservationName: $('#reservationName').val().trim(),
                phoneNumber: $('#phoneNumber').val().trim().replace(/\D/g,''),
                partySize: $('#party-size').val().trim(),
                reservationDate: $('#reservation-date').val().trim(),
                reservationTime: $('#reservation-time').val().trim(),
                specialRequest: $('#specialRequest').val(),
                agreedToTerms: document.getElementById("agreedToTerms").required
            }
            
            window.location.replace("#");

            // slice off the remaining '#' in HTML5:    
            if (typeof window.history.replaceState == 'function') {
              history.replaceState({}, '', window.location.href.slice(0, -1));
            }




            var currentURL = window.location + "/makeReservation";

            console.log(currentURL); 

            $.post(currentURL, data, function(result) {
                window.location.replace(window.location.origin + result);
            });
        });
    });



    $(document).ready(function() {
      $("#google-reviews").googlePlaces({
          placeId: 'ChIJZ7x6Ym1s54gRMTkSAbZzM7Q'
        , render: ['reviews']
        , min_rating: 4
        , max_rows:5
      });
    });
  









</script>